<h1>Option Page <%= @food.first_name  %></h1>
<h3>Released <%= @food.last_name%></h3>
<ul class="list-group">
  <%@food.gender.each do |gender| %>
  <li class="list-group-item"><%= last_name %></li>
  <% end %>
</ul>
<a href="/people">back</a>
<a href="/people/<%= @people.id%>/edit">Edit</a>

<form class="" action="/people/<%= @people.id %>" method="post">
  <input type="hidden" name="_method" value="Delete">
  <input type="submit"  value="Delete">
</form>
